[Unit]
Description=Waybar
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStartPre=/usr/bin/sleep 2
ExecStart=/usr/bin/waybar
Restart=on-failure
RestartSec=1
