[Desktop Entry]
Type=Application
Name=Archipelago
Comment=Multi-game randomizer launcher
Exec=archipelago
Icon=/home/bradley/.local/share/icons/archipelago.png
Terminal=false
Categories=Game;
