[Desktop Entry]
Type=Application
Name=Lumafly
Exec=env AVALONIA_USE_WAYLAND=1 /home/bradley/.local/share/lumafly/Lumafly %u %u
Path=/home/bradley/.local/share/lumafly
Icon=/home/bradley/.local/share/icons/lumafly.png
Terminal=false
MimeType=x-scheme-handler/lumafly;x-scheme-handler/scarab;
Categories=Game;
