[Desktop Entry]
Type=Application
Name=Obsidian
Comment=Knowledge base
Exec=obsidian --enable-features=UseOzonePlatform --ozone-platform=wayland --ozone-platform-hint=auto --enable-blink-features=MiddleClickAutoscroll %U
Icon=obsidian
Terminal=false
MimeType=x-scheme-handler/obsidian;
Categories=Office;
