[Desktop Entry]
Type=Application
Name=Obsidian
Comment=Knowledge base
Exec=env PIPEWIRE_QUANTUM=2048/48000 obsidian --enable-features=UseOzonePlatform --ozone-platform=wayland --enable-blink-features=MiddleClickAutoscroll %U
Icon=obsidian
Terminal=false
MimeType=x-scheme-handler/obsidian;
Categories=Office;
